---
---

@import "main";

:root {
    --custom-heading-marker-color: #c0392b;
}

[data-mode="dark"] {
    --custom-heading-marker-color: #e74c3c;
}

h2.important::before {
    content: "★ ";
    color: var(--custom-heading-marker-color)
}